<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bst.bobsoolting.post.query.repository.PostMapper">
    <resultMap id="PostResultMap" type="bst.bobsoolting.post.command.domain.aggregate.entity.Post">
        <id property="postId" column="post_id"/>
        <result property="category" column="category" javaType="bst.bobsoolting.post.command.domain.aggregate.Category" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="maxParticipants" column="max_participants"/>
        <result property="participants" column="participants" javaType="java.util.List" typeHandler="bst.bobsoolting.util.JsonTypeHandler"/>
        <result property="recruitmentStatus" column="recruitment_status" javaType="bst.bobsoolting.post.command.domain.aggregate.RecruitmentStatus" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="date" column="date" javaType="java.time.LocalDate"/>
        <result property="location" column="location"/>
        <result property="postStatus" column="post_status"/>
        <result property="createdAt" column="created_at" javaType="java.time.LocalDateTime"/>
        <result property="updatedAt" column="updated_at" javaType="java.time.LocalDateTime"/>
        <result property="memberId" column="member_id"/>
    </resultMap>

    <select id="findByPostId" resultMap="PostResultMap" parameterType="long">
        SELECT post_id, category, title, content, max_participants, participants, recruitment_status, date, location, post_status, created_at, updated_at, member_id
          FROM post
         WHERE post_id = #{postId}
    </select>

    <select id="findAll" resultMap="PostResultMap">
        SELECT post_id, category, title, content, max_participants, participants, recruitment_status, date, location, post_status, created_at, updated_at, member_id
          FROM post
         WHERE post_status = true
         ORDER BY created_at DESC
    </select>

    <select id="searchByKeyword" resultMap="PostResultMap" parameterType="java.lang.String">
        SELECT post_id, category, title, content, max_participants, participants, recruitment_status, date, location, post_status, created_at, updated_at, member_id
          FROM post
         WHERE (title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
           AND post_status = true
         ORDER BY created_at DESC
    </select>

    <select id="findByCategory" resultMap="PostResultMap" parameterType="java.lang.String">
        SELECT post_id, category, title, content, max_participants, participants, recruitment_status, date, location, post_status, created_at, updated_at, member_id
          FROM post
         WHERE category = #{category}
           AND post_status = true
         ORDER BY created_at DESC
    </select>

    <select id="findByMemberId" resultMap="PostResultMap" parameterType="java.lang.String">
        SELECT post_id, category, title, content, max_participants, participants, recruitment_status, date, location, post_status, created_at, updated_at, member_id
          FROM post
         WHERE member_id = #{memberId}
           AND post_status = true
         ORDER BY created_at DESC
    </select>

</mapper>
